:root {
  --jumbotron-color: linear-gradient(5deg, purple, #689b9c, #CCFFFF, #e7919a, purple);
  --jumbotron-border: #708050;
  --insult-box-color: linear-gradient(185deg, purple, #689b9c, #CCFFFF, #e7919a, purple);
  --background-img: url("images/lightpinkcats.jpg");
}

body {
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cat-animation {
  top: 0px;
  width: 3em;
  height: 3em;
  padding: 0%;
  margin: 0%;
}

.jumbotron {
  background: var(--jumbotron-color);
  font-family: 'Chilanka', cursive;
  font-weight: bold;
  text-align: center;
  padding: 5% 5% 0% 5%;
}

#title {
  text-align: center;
  font-size:10vw;
  margin: 0%;
  padding: 0%;
}

#imgTest {
  width: 50%;
  height: auto;
}

#btns {
  padding: 20px;
  background: var(--insult-box-color);
  margin-bottom: 30px;
  text-align: center;
  border: solid, 3px;
}

#insultContainer{
  display: inline-block;
  text-align: center;
  font-family: 'Chilanka', cursive;
  font-size: 1.5em;
}

.generate {
  margin-right: 15px;
}

@media only screen and (min-width: 641px) and (max-width: 1069px){
  .jumbotron {
    padding: 3% 5% 0% 19%;
  }
  .cat-animation {
    top: 0px;
    width: 7em;
    height: 7.25em;
  }
  #title {
    font-size:8vw;
    margin: 0%;
    padding: 0%;
  }
}
@media only screen and (min-width: 1070px) {
  .jumbotron {
    padding: 3% 5% 0% 19%;
  }
  .cat-animation {
    top: 0px;
    width: 7em;
    height: 7.25em;
  }
  #title {
    font-size:7vw;
    margin: 0%;
    padding: 0%;
  }
}